/*** Home Page ***/

/* nav bar*/
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
   
}
.nav a{
    color:white;
    display:inline-block;
    font-size: 23px;
    font-weight: bold;
    padding:30px;
    text-decoration: none;
}

/* body background */
body{
    background:url("../images/beach2.jpg");
    background-size: cover ; /*image not zoomed out or in covers everthing*/
    background-repeat: no-repeat;
}

/*body home page*/
/*name*/
.nameDiv{
    margin:auto;
    margin-top:8.8%;
    text-align:center;
    width:100%;
}

.nameJobText{
 color: white;
 text-shadow: 2px 2px 4px #000000;
 font-size: 60px;
 font-weight: bold;
 font-family: helvetica;
}


/*jobTitle*/
.jobTitle {
    margin:auto;
    margin-top:2%;
    text-align:center;
    width:100%;
  
}

/*footer*/
footer {
    border-top: 7px solid rgba(141, 135, 135, 0.089);
     bottom:0px;  /*keeps footer at bottom*/
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    height: 5%;
    margin: 10% 0% 0% 0%;
  }

/*media queries */

 @media screen and (max-width: 1064px) {
    body{
           background-size: 1064px;    
    }

}

@media screen and (max-width: 486px) {
    .nav a{
        padding:8px;
    }

} 

/*** About Page ***/
.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    clear: both;
  }

  #main-container {
    padding-top: 10px;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif sans; 
    font-size: 18px;
    font-style: bold;
    color:black;
    text-shadow: 1px 1px 1px black; 
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 10px;
    border:1px solid #dddddd;
  }

  .auth-image {
    float: left;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
    height: 280px;
    width: 180px;
    filter: brightness(75%);
  }

  .indent{
    padding-left: 18%;
    padding-top: 1%;
  }

  /*** Portfolio Page ***/
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work img {
    width: 100%;
    border:2px solid black;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 2px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
  }
  
  
  .appLink{
    float:left;
    margin-left: 20%;
  }

  .codeLink{
    float:right;
    margin-right: 20%;
  }