/*** Home Page ***/

/* nav bar*/
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
   
}
.nav a{
    display:inline-block;
    font-size: 20px;
    padding:30px;
    text-decoration: none;
}

/*name*/
.logoDiv{
   
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.logoDiv h1{
    font-size: 50px;
     text-decoration:none;
}

/* body background */
body{
    background:url("../images/beach1.jpg");
    background-size: cover ; /*image not zoomed out or in covers everthing*/
    background-repeat: no-repeat;
}

/*body home page*/
.jobTitle h1{
    text-align:center;
    margin-top:10%;
    font-size: 50px;
}

/*footer*/
footer {
    border-top: 7px solid #4aaaa5;
    bottom:0; /*keeps footer at bottom*/
    position: absolute;
    width: 100%;
    background-color: #787878;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    height: 5%;
    margin: 10% 0% 0% 0%;
  }

/*media queries */
@media screen and (max-width: 1064px) {
    body{
           background-size: 1064px;    
    }

}

@media screen and (max-width: 486px) {
    .nav a{
        padding:8px;
    }

}